/**
 * @name Oceanic Oasis
 * @author ClearVision Team
 * @version 6.3.0
 * @description Highly customizable and beautiful theme for BetterDiscord.
 * @source https://github.com/ClearVision/ClearVision-v6
 * @website https://clearvision.github.io
 * @invite 7pNUC9C
 * @BDEditor Clear Vision
*/

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@100;300;400;500;700&display=swap');
@import url('https://clearvision.github.io/ClearVision-v6/main.css');

:root {
  --main-color: #8CF6F3;
  --hover-color: #6194CE;
  --success-color: #43b581;
  --danger-color: #982929;
  --url-color: #BDF1F5;
  --background-image: url('https://i.imgur.com/opsuvCv.jpg');
  --background-shading: 100%;
  --background-position: center;
  --background-size: cover;
  --background-repeat: no-repeat;
  --background-attachment: fixed;
  --background-brightness: 100%;
  --background-contrast: 135%;
  --background-saturation: 128%;
  --background-grayscale: 55%;
  --background-invert: 0%;
  --background-blur: 2px;
  --background-overlay: rgba(0,0,0,0.6);
  --user-popout-image: url('https://i.imgur.com/4qnzEg7.jpg');
  --user-popout-position: center;
  --user-popout-size: cover;
  --user-popout-repeat: no-repeat;
  --user-popout-attachment: fixed;
  --user-popout-brightness: 94%;
  --user-popout-contrast: 125%;
  --user-popout-saturation: 136%;
  --user-popout-grayscale: 16%;
  --user-popout-invert: 0%;
  --user-popout-blur: 6px;
  --user-modal-image: url('https://i.imgur.com/9RFneMS.jpg');
  --user-modal-position: center;
  --user-modal-size: cover;
  --user-modal-repeat: no-repeat;
  --user-modal-attachment: fixed;
  --user-modal-brightness: 100%;
  --user-modal-contrast: 126%;
  --user-modal-saturation: 181%;
  --user-modal-grayscale: 13%;
  --user-modal-invert: 0%;
  --user-modal-blur: 0px;
  --home-icon: url('https://i.imgur.com/iVrUQNt.png');
  --home-position: center;
  --home-size: 45px;
  --channel-unread: #9BCDD6;
  --channel-color: rgb(141,204,171,0.49);
  --muted-color: rgb(68,69,130,0.55);
  --online-color: #73F6BA;
  --idle-color: #F8BD26;
  --dnd-color: #C80A0A;
  --streaming-color: #793FDC;
  --offline-color: #BCA8A8;
  --main-font: Quicksand;
  --code-font: Mulish;
  --channels-width: 230px;
  --members-width: 225px;
  --backdrop-overlay: rgba(0,0,0,0.8);
  --backdrop-image: var(--background-image);
  --backdrop-position: var(--background-position);
  --backdrop-size: var(--background-size);
  --backdrop-repeat: var(--background-repeat);
  --backdrop-attachment: var(--background-attachment);
  --backdrop-brightness: var(--background-brightness);
  --backdrop-contrast: var(--background-contrast);
  --backdrop-saturation: var(--background-saturation);
  --backdrop-invert: var(--background-invert);
  --backdrop-grayscale: var(--background-grayscale);
  --backdrop-sepia: var(--background-sepia);
  --backdrop-blur: var(--background-blur);
  --bd-blue: var(--main-color);
  --bd-blue-hover: var(--hover-color);
  --bd-blue-active: var(--hover-color);
}

/* Any custom CSS below here */


