/**
 * @name Small honest soul
 * @author Gibbu#1211
 * @version 2.0.0
 * @description Display your picture of choice with adjustable blur and brightness.
 * @source https://github.com/DiscordStyles/FrostedGlass
 * @invite ZHthyCw
 * @donate https://paypal.me/IanRGibson
 * @website https://gibbu.me
 * @authorId 174868361040232448
 * @BDEditor Frosted Glass
*/

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;700&display=swap');
@import url('https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');

:root {
  --background-image: url('https://i.imgur.com/20nvlX5.jpg');
  --background-image-blur: 1px;
  --background-image-size: cover;
  --background-image-position: center;
  --popout-image: url('https://i.imgur.com/R7hT3HD.jpg');
  --popout-image-blur: 1px;
  --popout-image-size: cover;
  --popout-image-position: center left;
  --overlay-image: url('https://i.imgur.com/QIRY9BW.jpg');
  --overlay-image-blur: 2px;
  --overlay-image-size: 150%;
  --overlay-image-position: top center;
  --home-button-image: url('https://i.imgur.com/UuBRqXe.jpg');
  --home-button-size: contain;
  --home-button-position: center;
  --serverlist-brightness: 0.9;
  --left-brightness: 0.86;
  --middle-brightness: 0.72;
  --right-brightness: 0.34;
  --overlay-brightness: 0.7;
  --gradient-primary: 106,17,17;
  --gradient-secondary: 34,4,21;
  --link-colour: #FF5D5D;
  --scrollbar-colour: rgb(171,13,13,0.88);
  --gradient-direction: 173deg;
  --tint-colour: 191,37,52;
  --tint-brightness: 0;
  --font: Josefin Sans;
  --window-padding: 8px;
  --window-roundness: 15px;
  --update-notice-1: none;
}

/* Any custom CSS below here */


